:root {
    --brown: rgb(54, 42, 38);
    --grey: rgb(104, 74, 9);
    --modal: rgb(54, 42, 38);

}

* {
    text-align: center;
    margin: 0;
    background-color: var(--brown);
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: var(--brown);
    color: white;
    padding: 40px;
    border-bottom: 1px solid black;
}

#addBookBtn {
    color: rgba(255, 217, 0, 0.918);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 20px 10px 15px;
    background-color: rgba(27, 21, 21, 0.671);
    margin: 40px 0;
    border: 1px solid black;
}
#addBookBtn:hover {
    background-color: rgba(0, 255, 255, 0.479);
    cursor: pointer;
}

.book-shelf {
    background-color: var(--brown);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 250px;
    justify-items: center;
    align-items: center;
    row-gap: 5em;
}

.book-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1.5px solid black;
    height: 20vh;
    width: 185px;
}

p:first-child {
    font-size: 20px;
    padding: 30px 0px;
}
p:last-child {
    padding: 0 0 25px;
}

.modal{
    
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: var(--modal);
    border-radius: 10px;
}

.modal.active{
    display: block;
}

.modalContent {
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 100%;
    background-color: var(--modal);
    padding: 40px 30px;
    border-radius: 10px;
    border: 1px solid black;
}

form h1 {
    background-color: var(--modal);
    color: white;
     
}
input {
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    background-color: rgb(245, 245, 245);
    color: black;
}
input::placeholder {
    font-weight: bold;
}
form button {
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 10px;
    font-weight: bold;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay.active {
    display: block;
}